@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');
:root {
    --border: 1px solid white;
    --box-shadow: 5px 5px 15px #202020, 5px -5px 15px #fff;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: oldlace;
    color: black;
    margin: 0;
    font-size: 17px;
    overflow: scroll;
}

.profil img {
    border-radius: 1000%;
}

a {
    color: rgb(139, 0, 81);
    text-decoration: none;
}

header {
    padding: 10px;
    width: calc(100%-20px);
    display: grid;
    grid-template-columns: 30% 70%;
}

header .profil img {
    height: 50px;
}

header .profil span {
    font-style: italic;
    font-size: 25px;
    color: black;
}

header ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    padding: 0 30px;
}

header ul li:not(:last-child) a:hover {
    color: hotpink;
    transition: 0.3s;
}

header ul li.btn a{
    display: inline-block;
    background: transparent;
    border: 2px solid lightcoral;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: lightcoral;
    font-weight: 500;
}

header ul li.btn:hover a{
    background: lightcoral;
    color: white;
    border: 2px solid transparent;
    transition: 0.5s;
}

span {
    color: lightcoral;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: auto;
}

.temukansaya a{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: lightcoral;
    cursor: pointer;
    margin-right: 20px;
    background-color: lightcoral margin-bottom 35px;
}

.temukansaya a:hover {
    transform: scale(1.1);
    background: peachpuff;
    transition: 0.3s;
}

.container .banner button {
    color: #eee;
    background: lightcoral;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 30px;
    margin-top: 20px;
    border: 2px solid peachpuff;
    border-radius: 30px;
    cursor: pointer;
}

.container .banner button:hover {
    background: transparent;
    border: 2px solid peachpuff;
    color: peachpuff;
    transition: 0.3s;
}

.banner {
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: 50px;
    padding-bottom: var(--border);
}

.banner .muatan {
    text-align: justify;
    padding-right: 40px;
}

.banner .muatan h1 {
    font-size: 2.5em;
    margin: 0;
}

.banner .avatar img {
    width: 100%;
    height: 100%
}

.banner .avatar {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

.banner .avatar::before {
    position: absolute;
    width: 90%;
    height: 80%;
    box-shadow: var(--box-shadow);
    content: "";
    z-index: -1;
}

.image-area {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.img-wrapper {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.img-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 180%;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
    transform: skew(45deg);
    transition: 0.5s;
}

.img-wrapper:hover::before {
    left: -180%
}

.img-wrapper img {
    height: 400px;
    width: 300px;
    filter: grayscale(100%);
    transition: 2s;
}

.img-wrapper:hover img {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.img-wrapper h2 {
    background: lightcoral;
    font-family: DM sans;
    color: #fff;
    text-align: center;

    margin: 0;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: perspective(400px) rotateY(90deg);
    transform-origin: right;
    transition: 1s;
}

.img-wrapper:hover h2 {
    transform: perspective(400px) rotateY(0deg);
}

.bottom {
    background-color: lightcoral;
    padding: 4px 0;
    margin-top: 30px;
    text-align: center;
}

.bottom p {
    color: #000000;
    font-size: 15px;
}

/* testimonial */
section {
    margin-top: 70px;
}

#testimonial {
    background: peachpuff;
    width: 100%;
}

#testimonial .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    gap: 5px;
    padding: 20px 5px;
}

#testimonial h1 {
    font-size: 30px;
    font-family: "Forum", serif;
    text-align: center;
}

#testimonial .profile img {
    border-radius: 1000%;
}

#testimonial .profile {
    text-align: center;
}

/* skill */

.main {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.skillclass {
    width: 1200px;
    max-width: 90%;
    margin: auto;
    background-size: cover;
    background-position: center;
}

.judul {
    text-align: center;
    font-weight: 700;
    font-size: x-large;
}

.listskill {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skill {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.evaluate {
    height: 10px;
    background-color: peachpuff;
    border-radius: 5px;
    margin-top: 5px;
}

.evaluate::after {
    content: '';
    display: block;
    height: 100%;
    border-radius: 5px;
    background-color: lightcoral;
    width: var(--point);
}

/*about*/
* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

.about {
    margin-top: -10px;
}
/* Style untuk list */
.about ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    display: flex;
    flex-wrap: wrap;
}

/* Style untuk setiap item dalam list */
.about ul li {
    flex: 1 0 50%;
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center; 
}

.about ul li::before {
    content: ">";
    margin-right: 10px; 
    color: #333; 
}

.about ul li:nth-child(odd) {
    padding-right: 20px;
}

/* Style untuk teks pada kolom */
.about ul li span {
    color: #666;
    margin-left: 10px; 
}

/* Style untuk section about */
.about {
    padding-bottom: 40px;
}

.about .section-title {
    text-align: center;
    margin-bottom: 30px; 
}

.about .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; 
}

.about .section-title p {
    font-size: 16px;
    color: #666;
    margin-bottom: 35obpx; 
}

.about .content {
    background-color: oldlace ;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px; 
}

.about .content h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 0; 
}

.about .content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px; /*space antara list dan desk*/
}

/* services */
.layanan {
    text-align: center;
    font-size: large;
}

.services {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.service {
    width: 350px;
    text-align: center;
}

.service img {
    max-width: 350px;
    border-radius: 5px;
    transition: transform .3s ease;
}

.service img:hover {
    transform: scale(1.1);
}
